aiohappyeyeballs==2.6.1
aiohttp==3.11.14
aiosignal==1.3.2
altair==5.5.0
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
arabic-reshaper==3.0.0
asn1crypto==1.5.1
attrs==23.2.0
Authlib==1.5.1
Automat==24.8.1
beautifulsoup4==4.13.3
bleach==6.2.0
blinker==1.9.0
boto3==1.37.18
botocore==1.37.18
Brotli==1.1.0
bs4==0.0.2
cachetools==5.5.2
certifi==2025.1.31
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
constantly==23.10.4
contourpy==1.3.1
cryptography==44.0.2
cssselect==1.3.0
cssselect2==0.8.0
cycler==0.12.1
defusedxml==0.7.1
dill==0.3.9
docker==7.1.0
dotenv==0.9.9
entrypoints==0.4
Faker==37.0.2
fastapi==0.115.11
favicon==0.7.0
filelock==3.18.0
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2025.3.0
fuzzywuzzy==0.18.0
gitdb==4.0.12
GitPython==3.1.44
glib==1.0.0
google-ai-generativelanguage==0.6.15
google-api-core==2.24.2
google-api-python-client==2.165.0
google-auth==2.38.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.1
google-genai==1.7.0
google-generativeai==0.8.4
google-pasta==0.2.0
googleapis-common-protos==1.69.2
grpcio==1.71.0
grpcio-status==1.71.0
h11==0.14.0
hfapi==0.1b0
htbuilder==0.9.0
html5lib==1.1
http_client==0.1.22
httpcore==1.0.7
httplib2==0.22.0
httpx==0.28.1
huggingface-hub==0.29.3
hydralit_components==1.0.10
hyperlink==21.0.0
idna==3.10
importlib-metadata==6.11.0
incremental==24.7.2
itemadapter==0.11.0
itemloaders==1.3.2
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kaggle==1.7.4.2
kagglehub==0.3.10
kiwisolver==1.4.8
lxml==5.3.1
Markdown==3.7
markdown-it-py==3.0.0
markdownlit==0.0.7
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
mock==4.0.3
mpmath==1.3.0
multidict==6.2.0
multiprocess==0.70.17
narwhals==1.31.0
networkx==3.4.2
numpy==1.26.4
oauthlib==3.2.2
omegaconf==2.3.0
oscrypto==1.3.0
outcome==1.3.0.post0
packaging==24.2
pandas==2.2.3
parsel==1.10.0
pathos==0.3.3
pdf2image==1.17.0
pillow==11.1.0
platformdirs==4.3.7
plotly==6.0.1
pox==0.3.5
ppft==1.7.6.9
prometheus_client==0.21.1
propcache==0.3.0
Protego==0.4.0
proto-plus==1.26.1
protobuf==5.29.4
psutil==7.0.0
pyarrow==19.0.1
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
pycurl==7.45.6
pydantic==2.10.6
pydantic_core==2.27.2
pydeck==0.9.1
PyDispatcher==2.0.7
pydyf==0.11.0
Pygments==2.19.1
pyHanko==0.26.0
pyhanko-certvalidator==0.26.8
pymdown-extensions==10.14.3
pyOpenSSL==25.0.0
pyparsing==3.2.1
pypdf==5.4.0
PyPDF2==3.0.1
pyphen==0.17.2
PySocks==1.7.1
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-slugify==8.0.4
pytz==2025.1
PyYAML==6.0.2
qrcode==8.0
queuelib==1.7.0
RapidFuzz==3.12.2
referencing==0.36.2
regex==2024.11.6
reportlab==4.3.1
requests==2.32.3
requests-file==2.1.0
requests-oauthlib==2.0.0
rich==13.9.4
rpds-py==0.23.1
rsa==4.9
s3transfer==0.11.4
safetensors==0.5.3
sagemaker==2.242.0
sagemaker-core==1.0.25
schema==0.7.7
Scrapy==2.12.0
scrapy-splash==0.11.1
selenium==4.30.0
service-identity==24.2.0
setuptools==77.0.3
six==1.17.0
smdebug-rulesconfig==1.0.1
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.6
st-annotated-text==4.0.2
st-theme==1.2.3
starlette==0.46.1
streamlit==1.43.2
streamlit-avatar==0.1.3
streamlit-camera-input-live==0.2.0
streamlit-card==1.0.2
streamlit-embedcode==0.1.2
streamlit-extras==0.6.0
streamlit-faker==0.0.3
streamlit-image-coordinates==0.1.9
streamlit-js-eval==0.1.7
streamlit-keyup==0.3.0
streamlit-option-menu==0.4.0
streamlit-toggle-switch==1.0.2
streamlit-vertical-slider==2.5.5
svglib==1.5.1
sympy==1.13.1
tblib==3.0.0
tenacity==9.0.0
text-unidecode==1.3
tinycss2==1.4.0
tinyhtml5==2.0.0
tldextract==5.1.3
tokenizers==0.21.1
toml==0.10.2
torch==2.6.0
tornado==6.4.2
tqdm==4.67.1
transformers==4.50.0
trio==0.29.0
trio-websocket==0.12.2
Twisted==24.11.0
typing_extensions==4.12.2
tzdata==2025.1
tzlocal==5.3.1
undetected-chromedriver==3.5.5
uritemplate==4.1.1
uritools==4.0.3
urllib3==2.3.0
uvicorn==0.34.0
validators==0.34.0
w3lib==2.3.1
watchdog==6.0.0
weasyprint==65.0
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
wsproto==1.2.0
xhtml2pdf==0.2.17
yarl==1.18.3
zipp==3.21.0
zope.interface==7.2
zopfli==0.2.3.post1
