@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.chat-row {
  display: flex;
  margin: 5px;
  width: 100%;
}

.row-reverse {
  flex-direction: row-reverse;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.st-key-button .st-key-button2 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: green;
  font-size: 24px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.left-column {
  background-color: #274C77;
  height: 100vh;

}

.right-column {
  background-color: #3498DB;
  height: 100vh;
}

body {
  background-color: #274C77;
}
  